### Calculating Errors

Here are two datasets that represent two of the examples you have seen in this lesson.  

One dataset is based on the parachute example, and the second is based on the judicial example.  Neither of these datasets is based on real people.

Use the exercises below to assist in answering the quiz questions at the bottom of this page.

In [1]:
import numpy as np
import pandas as pd

jud_data = pd.read_csv('judicial_dataset_predictions.csv')
par_data = pd.read_csv('parachute_dataset.csv')

In [2]:
jud_data.head()

   defendant_id    actual predicted
0         22574  innocent  innocent
1         35637  innocent  innocent
2         39919  innocent  innocent
3         29610    guilty    guilty
4         38273  innocent  innocent

In [32]:
par_data.sample(10)

      parachute_id actual predicted
4436          7383  opens     opens
5516          3398  fails     fails
3330          1763  opens     opens
1920          4117  opens     opens
4336          3919  opens     opens
4405          6163  opens     opens
824           7085  opens     opens
2127          2357  opens     opens
965           4293  opens     opens
1795          5325  opens     opens

`1.` Above, you can see the actual and predicted columns for each of the datasets.  Using the **jud_data**, find the proportion of errors for the dataset, and furthermore, the percentage of errors of each type.  Use the results to answer the questions in quiz 1 below.  

**Hint for quiz:** an error is any time the prediction doesn't match an actual value.  Additionally, there are Type I and Type II errors to think about.  We also know we can minimize one type of error by maximizing the other type of error.  If we predict all individuals as innocent, how many of the guilty are incorrectly labeled?  Similarly, if we predict all individuals as guilty, how many of the innocent are incorrectly labeled?

In [13]:
tot=jud_data.shape[0]
tot

7283

In [12]:
tot_err=jud_data.query('actual != predicted').shape[0]
tot_err

307

In [14]:
tot_err_per=(tot_err/tot)*100
tot_err_per

4.21529589454895

In [17]:
type1=jud_data.query('actual == "innocent" and predicted == "guilty" ').shape[0]
type1

11

In [19]:
type1_per=(type1/tot)*100
type1_per

0.1510366607167376

In [20]:
type2=jud_data.query('actual == "guilty" and predicted == "innocent" ').shape[0]
type2

296

In [21]:
type2_per=(type2/tot)*100
type2_per

4.064259233832212

`2.` Using the **par_data**, find the proportion of errors for the dataset, and furthermore, the percentage of errors of each type.  Use the results to answer the questions in quiz 2 below.

These should be very similar operations to those you performed in the previous question.

In [24]:
tot=par_data.shape[0]
tot

5829

In [25]:
error=par_data.query('actual != predicted').shape[0]
error

233

In [28]:
err_per=(error/tot)
err_per

0.039972551037913875

In [34]:
typ1=par_data.query('actual =="fails" and predicted=="opens"').shape[0]
typ1

1

In [36]:
typ1/tot

0.00017155601303825698

In [37]:
typ2=par_data.query('actual =="opens" and predicted=="fails"').shape[0]
typ2

232

In [38]:
typ2/tot

0.03980099502487562