In [1]:
import pandas as pd
from sklearn.linear_model import Lasso
from sklearn.preprocessing import StandardScaler

In [2]:
df=pd.read_csv('data.csv',header=None)
df.head()

         0        1         2        3        4        5         6
0  1.25664  2.04978  -6.23640  4.71926 -4.26931  0.20590  12.31798
1 -3.89012 -0.37511   6.14979  4.94585 -3.57844  0.00640  23.67628
2  5.09784  0.98120  -0.29939  5.85805  0.28297 -0.20626  -1.53459
3  0.39034 -3.06861  -5.63488  6.43941  0.39256 -0.07084 -24.68670
4  5.84727 -0.15922  11.41246  7.52165  1.69886  0.29022  17.54122

In [3]:
df.describe()

,0,1,2,3,4,5,6
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,-0.076288,-0.181381,0.339573,1.772602,-0.168269,0.009754,0.744579
std,5.560089,1.737693,4.982072,8.163906,3.184054,0.183237,17.132932
min,-12.398240,-5.280250,-11.235910,-23.820240,-6.865330,-0.634440,-45.017100
25%,-3.880408,-1.222918,-2.833322,-3.383100,-2.731047,-0.099910,-9.455507
50%,-0.009940,-0.278235,-0.072670,0.711860,-0.120520,0.002385,0.415680
75%,4.065705,1.083133,3.855920,6.704855,2.173942,0.119822,12.878975
max,13.374540,4.301200,11.946500,22.880080,7.351290,0.523280,36.216980

In [4]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [5]:
standard_scal=StandardScaler()

In [7]:
X=standard_scal.fit_transform(x)

In [8]:
lass_reg=Lasso()

### befor standardizing

In [11]:
lass_reg.fit(x,y)
lass_reg.coef_

array([ 0.        ,  2.35793224,  2.00441646, -0.05511954, -3.92808318,
        0.        ])

### after standardizing

In [12]:
lass_reg.fit(X,y)
lass_reg.coef_

array([  0.        ,   3.90753617,   9.02575748,  -0.        ,
       -11.78303187,   0.45340137])